/*Dialog icons*/
.yui3-panel .yui3-widget-bd .message{
	width: 70%;
	margin: 0 auto;
	text-align: left;
	padding: 11px 0 14px 50px;
}

.yui3-panel .yui3-widget-bd .icon-none{
	background-image: none;
	padding-left: 0;	
	width: 82%;
	text-align: center;
} 
.yui3-panel .yui3-widget-bd .icon-bubble{
	background-repeat: no-repeat;
	background-image: url(../images/icon_bubble.png);
} 
.yui3-panel .yui3-widget-bd .icon-error{
	background-repeat: no-repeat;
	background-image: url(../images/icon_error.png);
}
.yui3-panel .yui3-widget-bd .icon-info{
	background-repeat: no-repeat;
	background-image: url(../images/icon_info.png);
}
.yui3-panel .yui3-widget-bd .icon-question{
	background-repeat: no-repeat;
	background-image: url(../images/icon_question.png);
}
.yui3-panel .yui3-widget-bd .icon-warning{
	background-repeat: no-repeat;
	background-image: url(../images/icon_warn.png);
}
.yui3-panel .yui3-widget-bd .icon-success{
	background-repeat: no-repeat;
	background-image: url(../images/icon_success.png);
}
